#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  border: 5px solid blue;
}
.nav-bar {
  border: 5px solid green;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.home-container {
  border: 5px solid yellow;
}

.article-list-container {
  border: 5px solid pink;
}
.article-list{
  list-style-type:none;
}
.article-item-container {
  margin:20px;
  border: 5px solid rgb(196, 64, 86);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(227, 222, 222);
  display: flex;
  align-items:center;
  flex-direction: column;
}
.article-content{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.article-text{
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}
.article-img-url{
  max-width: 40%;
  max-height: auto;
  margin-left: 0;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .article-item-container {
    flex-direction: row;
  } 
  .article-content {
    flex-direction: row; 
    
  }
  .article-text {
    text-align: left; 
  }
  .article-img-url {
    margin-top: 0; 
    margin-left: auto;
  }
}

.article-author{
  font-style: italic;
  margin: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}

.comment-list{
  list-style-type: none;
}

.comment-item{
  border: 3px solid black;
  margin: 10px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.comment-container{
  width:100%;
}
.comment-text{
  font-size: 20px;
  color:blue
}
.comment-adder {
  margin:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-text-box{
  width: 100%; /* Set the width to 100% to make it responsive */
  max-width: 400px; /* Set a maximum width to prevent it from getting too wide */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box
}

.comment-adder-button{
  padding: 0;
  height: 40px;
  width: 70px;
  margin:20px;
}

.single-article-container {
  margin:20px;
  border: 5px solid rgb(196, 64, 86);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(227, 222, 222);

}
.single-article-img{
  max-width: 40%;
  max-height: auto;
  margin-left: auto;
}

.single-article-text{
  padding: 20px;
  text-align: center
}

.success {
  border: 3px solid green

}
.error {
  border: 3px solid red
}

.like-vote-button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 30px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}
.dislike-vote-button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 30px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(192, 231, 255);
}

.user-list{
list-style-type: none;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
}
.avatar-photo{
  margin:20px;
  width: 20vw;
 height:15vh;
}

.delete-comment-button {
  margin: 10px;
  border: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.filter-bar{
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
}
.filter-bar-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}
.filter-button{
  padding:5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin:0 20px;
  background-color: rgb(248, 228, 204);
}
.sort-button {
  margin: 20px;
  width: 15vw;
  background-color: rgb(218, 183, 199);
}
.order-bar{
  width: 20vw;
  margin: 10px;
  padding: 5px;
}