#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  border: 3px solid rgb(138, 16, 231);
  border-radius: 20px;
  background-color: rgb(172, 172, 253);
}
header {
  margin: 20px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.user-title {
  margin: 30px;
}

.logged-in {
  font-size: 15px;
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: black;
}
.sort-bar {
  display: flex;
  justify-content: space-evenly;
}

.article-list-container {
  background-color: rgb(227, 222, 222);
}
.article-list {
  list-style-type: none;
}
.article-item-container {
  margin: 20px;
  border-top: 2px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3,
h4:hover {
  color: blue;
}
.backwards-link {
  text-align: left;
}
.extra-text-info {
  text-align: right;
}
.article-content {
  display: inline-block;
  width: 100%;
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.article-text {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
.article-img-url {
  width: 100%;
  max-height: 100vw;
  margin-left: 0;
  margin-top: 10px;
  border-radius: 20px;
}
.votes-count {
  font-size: 13px;
  margin: 30px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
}
@media screen and (min-width: 600px) {
  .article-item-container {
    flex-direction: row;
  }

  .article-img-url {
    margin-top: 0;
    margin-left: auto;
  }
}

.article-author {
  font-style: italic;
  font-size: 13px;
  margin: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
.comment-list {
  list-style-type: none;
}
.comment-item {
  border-top: 2px solid black;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.comment-container {
  width: 100%;
}
.comment-text {
  font-size: 20px;
  color: blue;
}
.comment-adder {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-text-box {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.comment-adder-button {
  margin: 30px;
}
.single-article-container {
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(227, 222, 222);
}
.single-article-img {
  width: 60%;
  max-height: 100vw;
  border-radius: 20px;
}
.single-article-text {
  padding: 20px;
  text-align: center;
}
.success {
  border: 3px solid green;
}
.error {
  border: 3px solid red;
}
.like-vote-button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 30px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}
.dislike-vote-button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  height: 30px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(192, 231, 255);
}
.user-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.avatar-photo {
  margin: 30px;
  width: 15vw;
  height: 15vh;
}
.delete-comment-button {
  margin: 10px;
  border: 2px solid red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.filter-bar {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.filter-bar-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}
.filter-button {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20px;
  background-color: rgb(248, 228, 204);
}
.order-bar {
  width: 20vw;
  margin: 10px;
  padding: 5px;
}
.comment-container {
  margin-top: 30px;
}
.votes-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.comment-adder-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning-text {
  font-size: 13px;
  text-align: right;
}
.comment-item-info {
  display: flex;
  font-size: 13px;
}
.comment-votes-box {
  border: 2px black;
  display: flex;
  justify-content: space-between;
}
.votes {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
